<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  
	<title>BC GeekSeller </title>
	<meta name="description" content="backbone-login sample app">
	<meta name="author" content="ehrndog">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel='shortcut icon' type='image/x-icon' href='images/favicon-8.ico' />

	<link href="/css/entypo.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/mouldifi-core.css" rel="stylesheet">
	<link href="/css/mouldifi-forms.css" rel="stylesheet">
	<script data-main="/app/config" src="/js/require.js"></script>
<!--	<script  src="/js/require.js"></script>-->

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/jquery.min.js"></script>
	<![endif]-->
</head>
<body id="content" >


<!--

<div class="page-container">

-->
</body>
</html>

