<div class="login-container">
    <div class="login-branding">
    </div>

    <div class="login-content text-center">

        <h2><strong>panel</strong> Administracyjny</h2>

        <div class="alert alert-danger text-center hidden">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Zły login lub hasło
        </div>

        <form method="post" action="/admin/login" id="login-form">
            <div class="form-group">
                <input
                        type="text"
                        id="login-username-input"
                        name="login"
                        placeholder="Login"
                        class="form-control"
                        data-required="true"
                        data-notblank="true">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <input
                        type="password"
                        id="login-password-input"
                        name="password"
                        placeholder="Hasło"
                        class="form-control"
                        data-required="true"
                        data-notblank="true"
                        data-rangelength="[5,25]">
                <span class="help-block"></span>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-replace">
                    <input type="checkbox" id="remeber" name="remember-me">
                    <label for="remeber">Pamientaj mnie</label>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" id="login-btn">Zaloguj</button>
            </div>
            <p class="text-center"><a href="forgot-password.html">Nie pamiętam hasła !?</a></p>
        </form>

    </div>
</div>