
<!--

 menu

[
    {
    "id": 1,
    "name": "Autoryzacja",
    "in_menu": true,
    "scope": "auth",
    "icon": "fa-users",
        "privileges": [{
        "id": 2,
        "name": "Użytkownicy",
        "desc": "Tworzenie / Modyfikacja / Przypisywanie praw / grup",
        "icon": "",
        "sub_scope": "user_create",
        "user_id": 1,
        "user_available": true,
        "in_menu": true
        }]
    }
]

-->

<style>
    .has-sub a {
        cursor: pointer;
    }
</style>

<% _.each(menu, function(data){ %>
<li class="has-sub">
    <a><i class="fa <%- data.icon %>"></i><span class="title"> <%- data.name %></span></a>
    <ul class="nav collapse">
        <% _.each(data.privileges, function(p){ %>
        <li><a href="#<%- data.scope+'/'+p.sub_scope %>"><span class="title"><%- p.name %></span></a></li>
        <% }); %>
    </ul>
</li>
<% }); %>
