<div class="header-secondary row gray-bg">
<div class="col-lg-12">
  <div class="page-heading clearfix">
      <h1 class="page-title pull-left">Accounts</h1><button class="btn btn-primary btn-sm btn-add">Add New</button>
  </div>
        <ol class="breadcrumb breadcrumb-2">
            <li><a><i class="fa fa-home"></i>Big Commerce</a></li>
            <li class="active"><strong>Accounts</strong></li>
        </ol>
        <div class="tab-wrapper clearfix">
            <ul class="nav nav-pills nav-icons pull-right">
                <li role="presentation"><a href="#"><i class="icon-layout"></i></a></li>
                <li class="active" role="presentation"><a href="#"><i class="icon-list"></i></a></li>
                <li role="presentation"><a href="#" class="toggle-filter" data-block-id="filter-box"><i class="fa fa-filter"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/template" id="account-form-tpl">
    <form class="form-horizontal" id="account-form">
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label" for="friendly_name">Friendly name</label>
                <div class="col-md-6">
                    <input id="friendly_name" name="friendly_name" type="text" placeholder="" class="form-control input-md" value="<%- friendly_name %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="store_hash">Store Hash</label>
                <div class="col-md-6">
                    <input id="store_hash" name="store_hash" type="text" placeholder="" class="form-control input-md" value="<%- store_hash %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="client_id">Client Id</label>
                <div class="col-md-6">
                    <input id="client_id" name="client_id" type="text" placeholder="" class="form-control input-md" value="<%- client_id %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="client_secret">Client Secret</label>
                <div class="col-md-6">
                    <input id="client_secret" name="client_secret" type="text" placeholder="" class="form-control input-md" value="<%- client_secret %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="access_token">Access Token</label>
                <div class="col-md-6">
                    <input id="access_token" name="access_token" type="text" placeholder="" class="form-control input-md" value="<%- access_token %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="qty_sync_schema">Schema</label>
                <div class="col-md-6">
                    <select name="qty_sync_schema" id="qty_sync_schema">
                        <option value="qty_sync_download_marketplace_forward_to_master"
                        <% if(qty_sync_schema == 'qty_sync_download_marketplace_forward_to_master'){ %>
                        selected="selected"
                        <% } %>
                        > Push Quantities to Master </option>

                        <option value="qty_sync_fetch_master_upload_to_marketplace"
                        <% if(qty_sync_schema == 'qty_sync_fetch_master_upload_to_marketplace'){ %>
                            selected="selected"
                        <% } %>
                        > Push Quantities to BC account</option>

                        <option value="qty_sync_none"
                        <% if(qty_sync_schema == 'qty_sync_none'){ %>
                            selected="selected"
                        <% } %>
                        > None </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="qty_download_master_node">Download Nodes</label>
                <div class="col-md-6">
                    <input id="qty_download_master_node" name="qty_download_master_node" type="text" placeholder="" class="form-control input-md" value="<%- qty_download_master_node %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="qty_upload_master_nodes">Upload Nodes</label>
                <div class="col-md-6">
                    <input id="qty_upload_master_nodes" name="qty_upload_master_nodes" type="text" placeholder="" class="form-control input-md" value="<%- qty_upload_master_nodes %>">
                </div>
            </div>
        </fieldset>
        <% if(bc_account_pk>0){ %>
            <input type="hidden" name="bc_account_pk" value="<%- bc_account_pk %>">
        <% } %>
    </form>
</script>

<script type="text/template" id="connection-test">
    <div class="alert alert-success" role="alert">Connection OK !</div>
    <ul class="list-group">
        <li class="list-group-item"> <span class="badge"><%- inventory_count %></span> Inventory count </li>
        <li class="list-group-item"> <span class="badge"><%- variant_count%></span> Variant count </li>
        <li class="list-group-item"> <span class="badge"><%- inventory_value %></span> Inventory value </li>
        <li class="list-group-item"> <span class="badge"><%- highest_variant_price %></span> Highest variant price  </li>
        <li class="list-group-item"> <span class="badge"><%- average_variant_price %></span> Average variant price </li>
        <li class="list-group-item"> <span class="badge"><%- lowest_variant_price %></span> Lowest variant price </li>
        <li class="list-group-item"> <span class="badge"><%- oldest_variant_date %></span> Oldest variant date </li>
        <li class="list-group-item"> <span class="badge"><%- newest_variant_date %></span> Newest variant date </li>
        <li class="list-group-item"> <span class="badge"><%- primary_category_id %></span> Primary category id </li>
        <li class="list-group-item"> <span class="badge"><%- primary_category_name %></span> Primary category name </li>
    </ul>
</script>

<script type="text/template" id="account-entry">
    <td><%- bc_account_pk %> </td>
    <td><a href="#/account/info/<%-bc_account_pk%>"><strong> <%- friendly_name %> </strong> </a></td>
    <td> <%- user_id %></td>
    <td class="text-center">
        <% if(qty_sync_schema == 'qty_sync_fetch_master_upload_to_marketplace'){ %>
        <span class="badge badge-bordered">Push Quantities to BC account </span>
        <% } else if(qty_sync_schema == 'qty_sync_download_marketplace_forward_to_master') { %>
        <span class="badge badge-bordered">Push Quantities to Master </span>
        <% } else{ %>
        <span class="badge badge-bordered"> None </span>
        <% } %>
    </td>
    <td><%- qty_download_master_node %></td>
    <td><%- qty_upload_master_nodes %></td>
    <td>
        <% if(true){ %>
        <i class="icon-check icon-larger green-color"></i>
        <% } else { %>
        <i class="icon-cancel icon-larger red-color"></i>
        <% } %>
    </td>
    <td class="size-80">
        <div class="dropdown">
            <a href="#" data-toggle="dropdown" class="more-link"><i class="icon-dot-3 ellipsis-icon"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/api/get-jet-csv?acc_id=<%- bc_account_pk %>" > <i class="fa fa-download"></i> Jet Product List</a></li>
                <!--<li><a href=""> <i class="fa fa-download"></i> Walmart Product List</a></li>-->
                <li><a href="" class="edit-account"> <i class="fa fa-edit"></i> Edit</a></li>
                <!--<li><a href=""> <i class="fa fa-toggle-on"></i> Disable/Enable </a></li>-->
                <li><a href="" class="test-connection"> <i class="fa fa-terminal"></i> Test Connection </a></li>
            </ul>
        </div>
    </td>
</script>

<!-- Main content -->
<!--<div class="main-content">-->
<script type="text/template" id="account-list-tpl">
    <div class="row datatable-wrapper form-inline">
        <div class="col-lg-12">
            <div class="data-col-first clearfix">
                <button class="btn btn-primary btn-sm" id="new-account">
                    <i class="fa fa-plus-circle"></i> New Account
                </button>
            </div>
            <div class="data-col-last clearfix"></div>
        </div>
    </div>
    <div class="table-responsive " style="position: relative;">
        <table class="table table-users table-hover">
            <thead>
            <tr>
                <!--<th class="size-80"></th>-->
                <th>Id</th>
                <th>Name</th>
                <th>User Id</th>
                <th style="text-align: center">Schema</th>
                <th>Download Nodes </th>
                <th>Upload Nodes </th>
                <th class="text-center">active</th>
                <th class="size-80" class="text-center">actions</th>
            </tr>
            </thead>
            <tbody id="account-list-body">
            </tbody>
        </table>
    </div>
</script>
<!--</div>-->
<!-- /main content -->
