<script type="text/template" id="privileges-list">
    <div class="accordion" id="privilege-accordion">
        <div class="text-center"> Loading ... </div>
    </div>
</script>

<script type="text/template" id="privilege-category">
    <% _.each(categories, function(c){ %>
        <div class="panel accordion-group">
            <div class="accordion-heading">
                <h4 class="title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#privilege-accordion" href="#collapseTwo"><%- c.name %></a>
                </h4>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul class="list-group">
                        <% _.each(c.privileges, function(p){ %>
                        <li class="list-group-item">
                            <div class="form-checkbox size-40 toggle-privilege" style="float:left">
                                <input type="checkbox" class="toggle-privilege">
                                <span class="check"><i class="fa fa-check"></i></span>
                            </div>
                            <%- p.desc %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    <% }); %>
</script>