<script type="text/template" id="group-form-tpl">
    <form class="form-horizontal" id="group-form">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Nazwa</label>
                <div class="col-md-6">
                    <input id="name" name="name" type="text" placeholder="" class="form-control input-md" value="<%- name %> ">
                </div>
            </div>
            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="desc">Opis</label>
                <div class="col-md-6">
                    <textarea class="form-control" id="desc" name="desc"><%- desc %></textarea>
                </div>
                <div class="col-md-2"> </div>
            </div>
        </fieldset>
    </form>
</script>

<script type="text/template" id="group-entry">
    <td><strong> <%- name %> </strong> </td>
    <td> <%- desc %></td>
    <td><%- created_at %></td>
    <td><%- updated_at %></td>
    <td class="size-80">
        <div class="dropdown">
            <a href="#/" data-toggle="dropdown" class="more-link"><i class="icon-dot-3 ellipsis-icon"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a style="cursor: pointer" class="delete"><i class="fa fa-trash-o"></i> Usuń grupę </a></li>
                <li><a style="cursor: pointer" class="privileges"><i class="fa fa-key"></i> Prawa grupy </a></li>
                <li><a style="cursor: pointer" class="users-in-group"><i class="fa fa-users"></i> Użytkownicy w grupie</a> </li>
            </ul>
        </div>
    </td>
</script>

<script type="text/template" id="group-list-tpl">
    <div class="row datatable-wrapper form-inline">
        <div class="col-lg-12">
            <div class="data-col-first clearfix">
                <button class="btn btn-primary btn-sm" id="new-group">
                    <i class="fa fa-plus-circle"></i> Nowa grupa
                </button>
            </div>
            <div class="data-col-last clearfix"></div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-users table-hover">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Utworzona</th>
                <th>Aktualizowana</th>
                <th class="size-80" class="text-center">actions</th>
            </tr>
            </thead>
            <tbody id="group-list-body">
            </tbody>
        </table>
    </div>
</script>