<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">

            <div class="panel-heading no-border clearfix">
                <h3 class="panel-title">#1 Użytkownik</h3>
                <ul class="panel-tool-options">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"><i class="icon-cog icon-2x"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><i class="icon-arrows-ccw"></i> Edytuj avatar </a></li>
                            <li><a href="#"><i class="icon-list"></i> Zmień hasło </a></li>
                            <li><a href="#"><i class="icon-chart-pie"></i> Edycja kontaktów </a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cancel"></i> Wyłącz użytkownika </a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- panel body -->
            <div class="panel-body">
                <div class="col-sm-12">
                    <h1>
                        <img width="44" class="img-circle avatar" alt="" src="images/man-3.jpg">
                        John <span class="semi-bold">Doe</span>
                        <br>
                            <span class="label label-success">Aktywny</span>
                            <span class="label label-danger">Nieaktywny</span>
                            <span class="label label-info">Admin</span>
                            <span class="label label-info">Bloger</span>

                    </h1>

                    <ul class="list-unstyled">
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">606 973 805</span>
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:simmons@smartadmin">ceo@smartadmin.com</a>
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-calendar"></i>&nbsp;&nbsp;Ostatnie logowanie:<span class="txt-color-darken"> 14-11- 2016 16:30 </span>
                            </p>
                        </li>
                        <li>
                            <p class="text-muted">
                                <i class="fa fa-calendar"></i>&nbsp;&nbsp;Dodany:<span class="txt-color-darken"> 14-11- 2016 16:30 </span>
                            </p>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-minimal">
            <div class="panel-heading clearfix">
                <ul class="nav nav-tabs nav-left">
                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Logi</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Prawa</a></li>
                </ul>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="table-responsive">

                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="accordion" id="accordion2">

                            <div class="panel accordion-group">
                                <div class="accordion-heading">
                                    <h4 class="title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Collapsible Group Item #2</a></h4>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="list-group"> <li class="list-group-item">Cras justo odio</li> <li class="list-group-item">Dapibus ac facilisis in</li> <li class="list-group-item">Morbi leo risus</li> <li class="list-group-item">Porta ac consectetur ac</li> <li class="list-group-item">Vestibulum at eros</li> </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel accordion-group">
                                <div class="accordion-heading">
                                    <h4 class="title"><a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Collapsible Group Item #3</a></h4>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="list-group"> <li class="list-group-item">Cras justo odio</li> <li class="list-group-item">Dapibus ac facilisis in</li> <li class="list-group-item">Morbi leo risus</li> <li class="list-group-item">Porta ac consectetur ac</li> <li class="list-group-item">Vestibulum at eros</li> </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

