<!--<div class="header-secondary row gray-bg">
<div class="col-lg-12">
  <div class="page-heading clearfix">
      <h1 class="page-title pull-left">Users</h1><button class="btn btn-primary btn-sm btn-add">Add New</button>
  </div>
        <ol class="breadcrumb breadcrumb-2">
            <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="simple-view.html">List Views</a></li>
            <li class="active"><strong>Users</strong></li>
        </ol>
        <div class="tab-wrapper clearfix">
            <ul class="nav nav-pills nav-icons pull-right">
                <li role="presentation"><a href="#"><i class="icon-layout"></i></a></li>
                <li class="active" role="presentation"><a href="#"><i class="icon-list"></i></a></li>
                <li role="presentation"><a href="#" class="toggle-filter" data-block-id="filter-box"><i class="fa fa-filter"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /secondary header -->

<script type="text/template" id="user-form-tpl">
    <form class="form-horizontal" id="user-form">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="username">Login</label>
                <div class="col-md-6">
                    <input id="username" name="username" type="text" placeholder="" class="form-control input-md" value="<%- username %> ">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="firstname">Imię</label>
                <div class="col-md-6">
                    <input id="firstname" name="firstname" type="text" placeholder="" class="form-control input-md" value="<%- firstname %> ">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="lastname">Nazwisko</label>
                <div class="col-md-6">
                    <input id="lastname" name="lastname" type="text" placeholder="" class="form-control input-md" value="<%- lastname %> ">
                </div>
            </div>
            <% if(!id){ %>
            <hr/>
            <div class="form-group">
                <label class="col-md-3 control-label" for="passwd">Hasło</label>
                <div class="col-md-6">
                    <input id="passwd" name="passwd" type="password"  class="form-control input-md" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="re_passwd">Powtórz hasło</label>
                <div class="col-md-6">
                    <input id="re_passwd" name="re_passwd" type="password" class="form-control input-md" >
                </div>
            </div>
            <% } %>
            <hr/>
            <div class="form-group">
                <label class="col-md-3 control-label" for="phone">E-mail</label>
                <div class="col-md-6">
                    <input id="email" name="email" type="text" placeholder="" class="form-control input-md" value="<%- email %> ">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="phone">Telefon</label>
                <div class="col-md-6">
                    <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" value="<%- phone %> ">
                </div>
            </div>
        </fieldset>
    </form>
</script>

<!-- Main content -->
<!--<div class="main-content">-->
<script type="text/template" id="user-list-tpl">
    <div class="row datatable-wrapper form-inline">
        <div class="col-lg-12">
            <div class="data-col-first clearfix">
                <button class="btn btn-primary btn-sm" id="new-user">
                    <i class="fa fa-plus-circle"></i> Nowy użytkownik
                </button>
            </div>
            <div class="data-col-last clearfix">

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-users table-hover">
            <thead>
            <tr>

                <th class="size-80"></th>
                <th>Name</th>
                <th>Member since</th>
                <th>last login</th>
                <th class="text-center">role</th>
                <th class="text-center">active</th>
                <th class="size-80" class="text-center">actions</th>
            </tr>
            </thead>
            <tbody>

            <% _.each(users, function(u){ %>
            <tr>
                <td class="size-80"><img class="avatar img-circle" src="images/john-smith.png" alt="" title=""></td>
                <td><a href="#/auth/info/<%-u.id%>"><strong> <%- u.firstname %> <%- u.lastname %></strong> <%- u.username %></a></td>
                <td> <%- u.email%></td>
                <td>Last login yesterday.</td>
                <td class="text-center">
                    <span class="badge badge-bordered">Admin</span>
                </td>
                <td>
                    <% if(u.active){ %>
                        <i class="icon-check icon-larger green-color"></i>
                    <% } else { %>
                        <i class="icon-cancel icon-larger red-color"></i>
                    <% } %>
                </td>
                <td class="size-80">
                    <div class="dropdown">
                        <a href="#/" data-toggle="dropdown" class="more-link"><i class="icon-dot-3 ellipsis-icon"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="">Change Date Range</a></li>
                            <li><a href="">Change Graph Type</a></li>
                            <li><a href="">Other Settings</a> </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</script>
<!--</div>-->
<!-- /main content -->
